MONGODB_URI=mongodb://username_db_user:Your_Password@ac-vw8olbt-shard-00-00.rjpo6qn.mongodb.net:27017,ac-vw8olbt-shard-00-01.rjpo6qn.mongodb.net:27017,ac-vw8olbt-shard-00-02.rjpo6qn.mongodb.net:27017/critiq?ssl=true&replicaSet=atlas-64i8iz-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
